.main {

    .container {
        max-width: 1920px;
        padding: 0 15px;

        .banner-box {
                .visual {
                    width: 100%;
                    height: 440px;
                    display: none;
        
                    &:nth-child(1) { 
                        background: url("./../images/00_써브웨이_Main_02_20200629104654697.jpg") no-repeat;
                    }
                    &:nth-child(2) { 
                        background: url("./../images/main_PC_1920x440_20200626052759013.jpg") no-repeat; 
                    }
                    &:nth-child(3) { 
                        background: url("./../images/main_PC_1920x440_20200706054334328.jpg") no-repeat; 
                    }
            
                }
        
                .active {
                    display: block;
                }
        
                .btn {
                    display: flex;
                    position: absolute;
                    top: 560px;
                    right: 138px;
        
                    .btn-bar {
                        margin: 0 10px;
                        background-color: olive;
                        width: 50px;
                        height: 6px;
                    }
                    .active {
                        background: rgb(156, 156, 156);
                    }
                }

        }

        .quick-link {
            margin: -35px 335px 0 0;
            display: flex;
            justify-content: flex-end;

            .store,
            .franchise {
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 300px;
                    height: 80px;

                    span {
                        padding-left: 30px;
                    }
                }
            }

            .store {
                position: relative;
                &::before {
                    width: 34px;
                    height: 30px;
                    content: "";
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 82px;
                    background: url("./../images/icon_map.png")no-repeat;
                }
                a {
                    color: #292929;
                    font-size: 22px;
                    font-weight: bold;
                    background-color: #ffce32;
                    border-radius: 30px 0 0 0;
                }
            }

            .franchise {
                position: relative;
                &::before {
                    width: 34px;
                    height: 30px;
                    content: "";
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 47px;
                    background: url("./../images/icon_franchise.png")no-repeat;
                }

                a{
                    color: #fff;
                    font-size: 22px;
                    font-weight: bold;
                    background-color: #009223;
                    border-radius: 0 0 30px 0;
                }
            }
        }

        .sw-menu {
            .container {
                max-width: 1280px;
                margin: 0 auto;
                padding: 80px 0;
                .arrow-btn {
                    position: relative;
                    top: 192px;
                    font-size: 50px;

                    .prev {
                        position: absolute;
                        left: -10%;
                        width: 50px;
                        height: 50px;
                        background: url("./../images/icon_event_slider_arr.png") 0 0 no-repeat;
                        // 스프라이트 이미지는 x, y 좌표 0 0을 기점으으로 끌어다 놓는다고 생각하면 됨
                    
                    }
                    .next {
                        position: absolute;
                        right: -10%;
                        width: 50px;
                        height: 50px;
                        background: url("./../images/icon_event_slider_arr.png") -50px 0 no-repeat;
                    }

                }

                .title {
                    display: flex;
                    justify-content: space-between;

                    h2 {
                        color: #292929;
                        font-size: 40px;
                        font-weight: bold;
                        min-height: 60px;
                        padding: 17px 0 0 25px;
                        height: 50px;
                        background: url("./../images/bul_tit.png") no-repeat;
                    }

                    .category {
                        a {
                            position: relative;
                            display: inline-block;
                            padding: 0 25px;
                            font-size: 16px;
                            color: #666666;
                            font-weight: 600;
                            letter-spacing: -0.03em;
                            &:nth-child(2)::after,
                            &:nth-child(3)::after,
                            &:nth-child(4)::after {
                                content: '';
                                position: absolute;
                                left: 0;
                                top: 3px;
                                width: 1px;
                                height: 15px;
                                background-color: #dddddd;
                            }
                        }
                    }
                }

                .menu-slide {
                    display: flex;
                    justify-content: center;
                    height: 362px;

                    .item {
                        padding: 0 15px;
                        position: relative;

                        &::after {
                            opacity: 0;
                            display: block;      
                            position: absolute;
                            top: 45%;
                            left: 50%;
                            transform: translateX(-50%);              
                            content: '';
                            width: 98px;
                            height: 98px;
                            background: url("./../images/btn_more.png") no-repeat;
                        }
                        &:hover {
                            &::after {
                                opacity: 1;
                            }
                            img {
                                width: 350px;
                            }
                            .txt {
                                h3 {
                                    font-size: 22px;
                                }
                                p {
                                    display: none;
                                }
                            }
                        }

                        img {
                            position: relative;
                            width: 260px;
                        }
                        .txt {
                            h3 {
                                text-align: center;
                                font-size: 18px;
                                font-weight: 600;
                                color: #292929;
                                margin: 3px 0 10px;
                            }
                            p {
                                text-align: center;
                                font-size: 13px;
                                color: #999999;
                                line-height: 21px;
                                opacity: 1;
                                margin: 0 auto;
                                letter-spacing: -0.04em;
                            }
                        }
                    }
                }
            }
        }
    }

    .section{
        background: url("./../images/bg_content.gif") 0 0 repeat;

        .container {
            max-width: 1280px;
            margin: 0 auto;
            padding: 80px 0;

            .content-top {
                display: flex;

                .Abtn {
                    display: inline-block;
                    height: 42px;
                    line-height: 42px;
                    letter-spacing: -0.04em;
                    font-size: 16px;
                    font-weight: bold;
                    color: #ffffff;
                    border: 2px solid #fff;
                    border-radius: 30px;
                }

                .left {
                    margin-left: 55px;
                    width: 400px;
                    height: 300px;
                    background: url("./../images/bg_utilization.png") no-repeat;

                    p {
                        margin: 47px 0 0 42px;
                        color: #fff;
                        font-size: 28px;
                        font-weight: bold;
                        line-height: 40px;
                        letter-spacing: -0.03em;
                    }

                    a {
                        margin: 96px 0 0 45px;
                        padding: 0 20px;
                    }
                }

                .right {
                    width: 825px;
                    height: 300px;
                    background: url("./../images/img_subway_history.png") no-repeat;

                    p {
                        margin: 47px 0 0 408px;
                        color: #fff;
                        font-size: 28px;
                        font-weight: bold;
                        line-height: 40px;
                        letter-spacing: -0.03em;
                    }
                    a {
                        padding: 0 20px;
                        margin: 96px 0 0 408px;
                    }
                }
            }

            .content-bottom {
                margin: 37px 0 0 55px;
                background-color: #fff;
                width: 870px;
                height: 300px;
                border-radius: 30px 0 30px 0; // 시계 방향으로 주면 됨.

                .sb-news {
                    position: relative;
                    
                    .title {
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        top: 84px;
                        left: 76px;

                        h2 {
                            padding: 23px 0 0 28px;
                            color: #292929;
                            font-size: 30px;
                            font-weight: bold;
                            min-height: 60px;
                            background: url(./../images/bul_tit.png) no-repeat;                            
                        }

                        p {
                            margin-top: 15px;
                            font-size: 14px;
                            text-align: center;
                            line-height: 26px;
                            letter-spacing: -0.04em;
                        }
                    }

                    .notice {
                        position: absolute;
                        top: 60px;
                        left: 400px;
                        
                        li {
                            margin: 21px 0 0;
                            &:hover {
                            a {
                                color: #009223;
                            }
                            a::after {
                                    content: '';
                                    height: 1px;
                                    left: 0;
                                    right: 0;
                                    bottom: 1px;
                                    width: 100%;
                                    background-color: #009223;
                                    position: absolute;
                                    transition-duration: 0.2s;
                                }
                            }

                            a {                      
                                position: relative;      
                                font-size: 15px;                    
                                color: #292929;
                                letter-spacing: -0.04em;

                                &::after {
                                    content: '';
                                    height: 1px;
                                    left: 0;
                                    bottom: 1px;
                                    width: 0;
                                    background-color: #009223;
                                    position: absolute;
                                    transition-duration: 0.2s;
                                }
                            }                         

                        }

                        .more {
                            display: inline-block;
                            color: #999999;
                            font-size: 14px;
                            padding: 33px 0 8px;
                        }
                    }

                    .banner {
                        position: absolute;
                        right: -300px;
    
                        .movie {
                            width: 270px;
                            height: 300px;
                            background: url("./../images/200616_하단배너제작건_20200616110752022.jpg") no-repeat;
                            border-radius: 0 30px 0 30px;
                        }
                    }
                }
            }

        }
    }
}

.link {
    
    .quick-menu {
        padding: 40px 0;
        display: flex;
        justify-content: center;
        
        .item {
            padding: 0 45px;
            &:nth-child(2) {
                .icon {
                    background: url("./../images/icon_quickmenu.png") -70px 0 no-repeat;            
                }
            }
            &:nth-child(3) {
                .icon {
                    background: url("./../images/icon_quickmenu.png") -140px 0 no-repeat;            
                }
            }
            &:nth-child(4) {
                .icon {
                    background: url("./../images/icon_quickmenu.png") -210px 0 no-repeat;            
                }
            }
            
            a {
                display: flex;
                justify-content: center;
                align-items: center;
    
                .icon {
                    width: 70px;
                    height: 70px;
                    background: url("./../images/icon_quickmenu.png") 0 0 no-repeat;
                }
    
                .txt {
                    p {
                        margin-left: 20px;
                        color: #292929;
                        font-size: 18px;
                        font-weight: 600;
                        display: block;
                        margin-top: 12px;
                        letter-spacing: -0.04em;
                        text-align: left;
                
                        span {
                            display: block;
                            color: #999999;
                            font-size: 13px;
                            font-weight: 300;
                            margin-top: 6px;
                            letter-spacing: -0.02em;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}